.direction {
  padding: 32px 0 83px;
  background: url("../images/direction/bg (1).png") center/cover no-repeat;
  position: relative;
}
.direction::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(27.92% 49.89% at 65.16% 60.6%, #3273C0 12.4%, #2F5691 100%) #2F5691;
  z-index: -2;
}
.direction__title {
  font-family: "Merriweather", sans-serif;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #D8AB68;
}
.direction__line {
  padding: 18px 28px 18px 28px;
  border: 2px solid #FFFFFF;
  border-radius: 60px;
}
.direction__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 28px;
     -moz-column-gap: 28px;
          column-gap: 28px;
}
.direction__box {
  margin: 39px 0 29px;
  gap: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.direction__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1169px;
  height: 572px;
  border: none;
}

.first {
  padding: 41px 90px 51px 61px;
  background-color: #fff;
  border-radius: 30px 0 0 30px;
}
.first__title {
  font-family: "Merriweather", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #2F5691;
}
.first__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #172141;
  margin: 28px 0 11px;
}
.first__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.first__li {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #6F737D;
  list-style-type: circle;
}
.first__xp {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #172141;
  margin: 25px 0 0;
}
.first__z {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 105px;
     -moz-column-gap: 105px;
          column-gap: 105px;
}
.first__work {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #172141;
}

.second {
  position: relative;
}
.second__img {
  width: 100%;
  height: 100%;
}
.second__img2 {
  position: absolute;
  bottom: 37px;
  left: -63px;
}